html, body {
    margin: 0% auto;

}
a:link, a:hover {
    color: white;
}
body {
    background-color: aliceblue;
}
nav {
    margin: 0;
    height: 79px;
    max-width: 100%;
    background-color: black;
    color: #fff;
    display: block;
}
ul{
    display: inline;
    list-style: none;
}
li, li a, li a:link, li a:hover {
    list-style: none;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin-left: 12px;
    margin-right: 12px;
        
}
.aside {
    background: #000012;
    margin: 0;
}
li.right {
    float: right;
}

p.menu {
    text-align: center;
    font-weight: 600;
    padding: 0 1.2em;
    color: red;
    margin: 0 auto;
}


ul li a:hover {
    background-color: #fff;
    color: black !important;
    
}
li.right {
    float: right;
}

li.indexImg {
    float: left;
    background-color:black;
    padding: 0;
}

.indexImg {
    margin: 0;
    display: inline;
}

nav-link {
    padding: 0;
}
.row{
    width: 100%;
    display: flex;
}
.row::after{
    clear: both;
    display: block;
    content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.88%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
* {
    box-sizing: border-box;
}
[class=*"col-"] {
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
}
.col-4 {
    
    width: 100%;
}
.img {
    width: 100%;
    border-radius: 13%;
    margin: 0 auto;
/*    padding: 1.4em;*/
    max-height: 300px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
    col-2 {
        width: 25%;
    }
    nav {
        width: 100%;
    }
    li{
        visibility: hidden;
    }
}
footer {
    background-color: black;
    color: white;
    font-weight: 700;
    line-height: 1.4em;
/*    font-family: monospace;*/
    font-size: 1.4rem;
    padding: 12px 0;
}
/*Media Query Start Here*/
@media (max-width: 801px) {
    div.col-4 {
        padding: 12px;
        margin: .2em auto;
        width: 50%;
    }
}

@media (max-width: 560px) {
    div.col-4 {
        padding: 12px;
        margin: .2em auto;
        width: 100%;
    }
}